@import 'transcript-agent';
@import 'transcript-customer';
@import 'transcript-opener';
@import 'system-message';
@import 'c2cbutton';

body {
  line-height: 1.3;
  font-family: Arial;
}

#ciapiSkinContainer {
  height: 550px;
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 0px;
  z-index: 2000;
  background-color: #fff;
  border: 2px solid #333;
  font-family: Arial;
}

#ciapiSkinHeader {
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 5px solid #008670 !important;
    font-family: Arial;
}

#ciapiSkinTitleBar {
    height: 100%;
    display: inline-block;
    padding: 5px 8px;
    box-sizing: border-box;
    vertical-align: middle;
}

#ciapiSkinTitleBar span {
  left: 76px;
  top: 0px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #0B0C0C;
  width: 205px;
}

#ciapiSkinCloseButton {
  width: 40px;
  height: 40px;
  float: right;
  margin: 8px 15px;
  box-sizing: border-box;
  background-origin: border-box;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  background-image: url('/ask-hmrc/assets/media/close.svg');
  &:hover {
    background-color: #DBDAD9 !important;
  }
}

#ciapiSkinCloseButton i {
  color: #fff;
}

#ciapiSkinCloseButton i:hover {
  color: #444;
  cursor: pointer;
}

#ciapiTitleBarLogo {
    display: inline-block;
    padding-left: 8px;
    padding-top: 3px;
    vertical-align: middle;
}

#ciapiTitleBarLogo img {
    height: 50px;
}

#ciapiSkinChatTranscript {
  width: 100%;
  height: calc(100% - 150px);
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px 0;
}

#ciapiSkinFooter {
  width: 100%;
  height: 36px;
}

#ciapiSkinFooter textarea {
    margin: 3px;
    width: 92%;
    height: 29px;
    box-sizing: border-box;
    resize: none;
    border: solid 1px rgba(128,128,128,0.25);
    font-size: 16px;
    font-family: Arial;
    margin-left: 7%;
}

#ciapiSkinFooter textarea:focus {
  outline: 3px solid #fd0;
}

#ciapiSkinSendButton {
    background-color: #00703c;
    width: 64px;
    height: 40px;
    box-sizing: border-box;
    color: white;
    vertical-align: middle;
    font-size: 20px;
    margin-left: 7%;
    text-align: center;
}

#ciapiSkinSendButton:hover {
  background-color: #005a30;
  cursor: pointer;
}

#HMRC_CIAPI_Anchored_1 {
  position: fixed;
  bottom: 0;
  right: 50px;
}

