@import 'transcript-agent';
@import 'transcript-customer';
@import 'transcript-opener';
@import 'system-message';
@import 'c2cbutton';

body {
  line-height: 1.3;
  font-family: Arial;
}

#ciapiSkinContainer {
  height: 550px;
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 0px;
  z-index: 2000;
  background-color: #fff;
  border: 2px solid #333;
  font-family: Arial;
}

#ciapiSkinHeader {
  width: 100%;
  height: 50px;
  background: #008670;
  font-family: Arial;
}

#ciapiSkinTitleBar {
  width: calc(100% - 65px);
  font-weight: bold;
  height: 100%;
  float: left;
  padding: 0 20px;
  box-sizing: border-box;
}

#ciapiSkinTitleBar i.icono-comment {
  color: #fff;
  height: 20px;
  margin: 0 10px 10px 0;
}

#ciapiSkinTitleBar i.icono-disqus {
  color: #fff;
  margin: 0 10px 10px 0;
}

#ciapiSkinTitleBar span {
  line-height: 50px;
  font-size: 26px;
  color: #fff;
}

#ciapiSkinCloseButton {
  width: 65px;
  height: 100%;
  float: left;
  padding: 8px 15px;
  box-sizing: border-box;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#ciapiSkinCloseButton i {
  color: #fff;
}

#ciapiSkinCloseButton i:hover {
  color: #444;
  cursor: pointer;
}

#ciapiSkinChatTranscript {
  width: 100%;
  height: calc(100% - 100px);
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px 0;
}

#ciapiSkinFooter {
  width: 100%;
  height: 50px;
}

#ciapiSkinFooter textarea {
  margin: 3px;
  float: left;
  width: calc(100% - 70px);
  height: 44px;
  box-sizing: border-box;
  resize: none;
  border: none;
  padding: 4px;
  font-size: 20px;
  font-family: Arial;
}

#ciapiSkinFooter textarea:focus {
  outline: 3px solid #fd0;
}

#ciapiSkinSendButton {
    background-color: #00703c;
    width: 64px;
    height: 50px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
    color: white;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}

#ciapiSkinSendButton:hover {
  background-color: #005a30;
  cursor: pointer;
}

#HMRC_CIAPI_Anchored_1 {
  position: fixed;
  bottom: 0;
  right: 50px;
}

