@import 'transcript-agent';
@import 'transcript-customer';
@import 'system-message';
@import 'c2cbutton';
@import 'end-chat-popup';
@import "lib/govuk-frontend/govuk/all";

#ciapiSkin {
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;

    #ciapiSkinContainer {
        display: block;
    }
    #ciapiSkinMinimised {
        display: none;
    }
}

#ciapiSkinContainer {
    background: #0000ff;
    background: #0000ff;
    height: 550px;
    width: 100%;
    right: 10px;
    bottom: 0px;
    background-color: #fff;
}

#ciapiSkinHeader {
    width: 100%;
    height: 30px;
    background-color: #fff;
    border-bottom-color: rgb(177, 180, 182);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#ciapiSkinTitleBar {
    display: none;
}

#ciapiSkinTitleBar span {
  left: 76px;
  top: 0px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  color: #0B0C0C;
  width: 205px;
}

#ciapiChatComponents {
    height: calc(100% - 30px);
}

#ciapiSkinChatTranscript {
  width: 100%;
  height: calc(100% - 140px);
  background-color: #fff;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px 0;
  div {
    margin-bottom: 0px;
    @extend .govuk-body;
  }
}

#ciapiSkinFooter {
    width: 100%;
    border-top-color: rgb(11, 12, 12);
    border-top-style: solid;
    border-top-width: 2px;

    height: 80px;
    padding: 5px;


    #ciapiSend {
        width: 18%;
        float: left;
        padding-left: 0.25em;
    }

    #ciapiInput {
        width: 80%;
        float: left;

        textarea {
            height: 80px;
            resize: none;
            margin-bottom: 0px;
        }
    }

    #ciapiClose {
        clear: both;
    }
}

#HMRC_CIAPI_Anchored_1 {
  position: fixed;
  bottom: 0;
  right: 50px;
}

@mixin IconButton {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 0.9em 0.9em;
    background-color: transparent;
    border: none;
    font-size: 19px;
    padding-left: 1em;
    vertical-align: middle;
    color: #1d70b8;
    text-decoration: underline;
    width: auto;
}

#ciapiPrintButton {
    @include IconButton
    background-image: url('/ask-hmrc/assets/media/save-transcript.svg');
}

#ciapiSoundButton {
    @include IconButton
    background-image: url('/ask-hmrc/assets/media/hmrc-alert_on.svg');
    float: right;
}

#ciapiSkinCloseButton {
    @include IconButton
    background-image: url('/ask-hmrc/assets/media/end-chat.svg');
}

.info {
    text-align: center;
    color: #505a5f;
}

.info img {
    width: 1.25em;
    vertical-align: bottom;
    padding: 0 0.5em .2em 0;
}

#postChatSurveyWrapper {
    height: calc(100% - 2em - 5px);
    overflow-y: scroll;
    padding: 1em;
//     border-top: 2px solid #b1b4b6;   // fix this (consistency with popup)
    border-bottom: 2px solid #000;

//     fieldset.govuk-fieldset {            // fix this (consistency with popup)
//         margin-top: 2em;
//     }
}