@import 'transcript-agent';
@import 'transcript-customer';
@import 'system-message';
@import 'c2cbutton';
@import 'end-chat-popup';
@import "lib/govuk-frontend/govuk/all";

$popup-width: 400px;
$popup-min-width: 272px;
$popup-max-height: 590px;
$popup-container-border-width: 4px;
$header-height: 57px;
$header-bottom-border-height: 6px;
$tools-height: 23px;
$tools-padding-y: 5px;
$components-sub-height: $header-height + $header-bottom-border-height + $tools-height + 2*$tools-padding-y;
$footer-height: 80px;
$footer-padding: 5px;
$textarea-height: $footer-height;
$transcript-border-height: 4px;
$transcript-sub-height: $footer-height + 2*$footer-padding  + 2*$transcript-border-height + 2px;
$page-height: calc(100% - 2em - 5px);

#ciapiSkin {
    font-family: "GDS Transport",arial,sans-serif;
    font-size: 19px;
    -webkit-font-smoothing: antialiased;

    #ciapiSkinContainer {
        display: block;
    }
    #ciapiSkinMinimised {
        display: none;
    }
}

#ciapiSkin.minimised {
    #ciapiSkinContainer {
        display: none;
    }
    #ciapiSkinMinimised {
        display: block;
    }
}

#ciapiSkinContainer {
    flex-flow: row wrap;
    justify-content: space-evenly;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    border: $popup-container-border-width solid;
    position: fixed;
    max-height: $popup-max-height;
    height: 100%;
    min-width: $popup-min-width;
    width: $popup-width;
    bottom: 0px;
    right: 0px;
    background-color: white;
}

#ciapiSkinHeader {
    width: 100%;
    height: $header-height;
    background-color: #fff;
    border-bottom: $header-bottom-border-height solid #1d70b8;
    font-family: Arial;
}

#ciapiSkinTitleBar {
    float: left;
    padding-top: 0.9em;
    padding-left: 0.6em;
}

#tools {
    height: $tools-height;
    padding-top: $tools-padding-y;
    padding-bottom: $tools-padding-y;
    padding-left: 5px;

    #print a {
        background-image: url('/ask-hmrc/assets/media/save-transcript.svg');
        background-size: 0.8em;
    }

    #sound a {
        background-image: url('/ask-hmrc/assets/media/hmrc-alert_on.svg');
    }

    #print p, #sound p {
        margin: 0;
        padding: 0 0 0.3em 0;
    }

    #print a, #sound a, #end a {
        border: 0px solid green;
        background-size: 1em;
        background-repeat: no-repeat;
        padding-left: 1.2em;
    }

    #print, #sound {
        max-width: 50%;
        width: 49%;
        float: left;
    }

    #sound {
        text-align: right;
    }
}

@mixin TopButton {
  width: 40px;
  height: 40px;
  float: right;
  box-sizing: border-box;
  background-origin: border-box;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    background-color: #DBDAD9 !important;
  }
}

#hideCloseContainer {
    float: right;
}

#ciapiSkinCloseButton {
  background-image: url('/ask-hmrc/assets/media/close.svg');
  margin-left: 8px;
  margin-right: 15px;
  margin-top: 7px;
  margin-bottom: 7px;
  @include TopButton
}

#ciapiSkinHideButton {
  background-image: url('/ask-hmrc/assets/media/minimise.svg');
  margin: 8px 0px;
  float: none !important;
  @include TopButton
}

#ciapiSkinCloseButton i {
  color: #fff;
}

#ciapiTitleBarLogo {
    float: left;
    padding-left: 0.9em;
    padding-top: 0.4em;
    img {
        height: 44px;
        width: 44px;
    }
}

#ciapiChatComponents {
    height: calc(100% - #{$components-sub-height});
    width: 100%;
    }

#ciapiSkinChatTranscript {
    height: calc(100% - #{$transcript-sub-height});
    border-top: $transcript-border-height solid #b1b4b6;
    border-bottom: $transcript-border-height solid #000;
    overflow: scroll;
    overflow-x: hidden;
    padding-right: 14px;
    padding-left: 1em;

    div {
        margin-bottom: 0px;
        @extend .govuk-body;
    }

    .info {
        text-align: center;
        color: #505a5f;
    }

    .info img {
        width: 1.25em;
        vertical-align: bottom;
        padding: 0 0.5em .2em 0;
    }
}

#HMRC_CIAPI_Anchored_1 {
  position: fixed;
  bottom: 0;
  right: 50px;
}

#ciapiSkinFooter {
    height: $footer-height;
    padding: $footer-padding;

    #ciapiInput {
        width: 80%;
        float: left;

        textarea {
            height: $textarea-height;
            resize: none;
            margin-bottom: 0px;
        }
    }

    #ciapiSend {
        width: 18%;
        float: left;
        text-align: right;
    }

}

#ciapiSkinMinimised {
    width: 100%;
    max-width: $popup-width;
    height: $header-height;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #00703c;
    #ciapiSkinRestoreButton {
        z-index: 1000;
        width: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        #logo-white {
            float: left;
            padding-left: 0.7em;
            padding-top: 0.4em;
            img {
                height: 44px;
                width: 44px;
            }
        }
        h2 {
            color: white;
            float: left;
            padding-top: 0.8em;
            padding-left: 0.6em;
        }
    }
}

#postChatSurveyWrapper {
    height: $page-height;
    overflow-y: scroll;
    padding: 1em;
    border-top: 2px solid #b1b4b6;
    border-bottom: 2px solid #000;

    fieldset.govuk-fieldset {
        margin-top: 2em;
    }
}

#postPCSPageWrapper {
    height: $page-height;
    border: 0px solid red;
    border-top: 2px solid #b1b4b6;
    border-bottom: 2px solid #000;
    padding-right: 14px;
    padding: 1em;
}