.cui-wrapper {
    position: relative; /*required for end chat overlay and animation positioning*/
}

.header-margin-top {
    margin-top: 0;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.govuk-inset-text {
    line-height: 1.25;
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #b1b4b6;
}

.govuk-heading-l {
    color: #0b0c0c;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}

.gem-c-document-list__item-description {
    color: #0b0c0c;
    margin: 9px 0 20px 0;
}

#cui-subsection-title {
    margin-top: 0;
    margin-bottom:20px;
}

.content__body {
    position: relative;
}

.gem-c-govspeak .address, .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.webchat-unavailable {
    display: none;
}

#cui-loading-animation-image {
    width: 50px;
    float: left;
    margin-left: 5px;
    padding-top: 21px;
    padding-right: 5px;
}

#cui-loading-animation-text {
    float: left;
    padding-left: 10px;
    padding-top: 15px;
}

#cui-loading-animation {
    margin-top: 20px;
}

#cui-messaging-container {
    width: 100%;
    height: calc(max(600px, 37rem));
}

#content-container {
    width: 100%
}

.form-group-error {
  padding-left: 15px;
}

.gem-c-document-list__item {
    margin-bottom: 25px;
    padding-top: 10px;
    border-top: 1px solid #b1b4b6;
    list-style: none;
}

.gem-c-document-list__item-title {
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 16px;
    font-size: 1.1875rem;
    line-height: 1.25;
    display: inline-block;
    text-decoration: none;
}

.gem-c-document-list__item-title:link {
    color: #1d70b8;
}

.gem-c-document-list__item-title:visited {
    color: #4c2c92;
}

.finder-results {
    list-style-type: none;
    padding-left: 0;
}

.govuk-notification-banner {
    margin-bottom: 0px!important;
    /* set display attribute to toggle the banner. Content is changed in messages.conf */
    display:block;
}

.govuk-notification-banner__content>* {
    max-width: 100%!important;
}