.cui-wrapper {
    position: relative; /*required for end chat overlay and animation positioning*/
}

.header-margin-top {
    margin-top: 0;
}

.margin-top {
    margin-top: 20px;
}

.margin-bottom {
    margin-bottom: 20px;
}

.govuk-inset-text {
    line-height: 1.25;
    color: #0b0c0c;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    border-left: 10px solid #b1b4b6;
}

.govuk-heading-l {
    color: #0b0c0c;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.04167;
    display: block;
    padding-top: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app-related-items {
    border-top: 2px solid #1d70b8;
    padding-top: 10px;
}

#cui-subsection-title {
    margin-top: 0;
    margin-bottom:20px;
}

.content__body {
    position: relative;
}

.gem-c-govspeak .address, .gem-c-govspeak .contact {
    border-left: 1px solid #b1b4b6;
    padding-left: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.webchat-unavailable {
    display: none;
}

#cui-loading-animation-image {
    width: 50px;
    float: left;
    margin-left: 5px;
    padding-top: 21px;
    padding-right: 5px;
}

#cui-loading-animation-text {
    float: left;
    padding-left: 10px;
    padding-top: 15px;
}

#cui-loading-animation {
    margin-top: 20px;
}

#cui-messaging-container {
    width: 100%;
    height: calc(max(600px, 37rem));
}

.form-group-error {
  padding-left: 15px;
}
